npm install express mongoose morgan cors body-parser method-override superlogin del http nodemon --save
npm i @angular/http rxjs-compat --save
npm install @ionic/angular  # ionic --version       #  5.4.15
ionic info

npm install -g ionic@latest
npm i -g npm-check-updates

npm i @angular/cli@8.1.1 --save
npm install @swimlane/ngx-datatable@latest --save